/* make widths in pixels take up this precise size, ignoring 
border and margin shenanigans*/
* {
    box-sizing: border-box;
}

/* Basic shit tune this*/
body {
    color: #777777;
    line-height: 30px;
    text-align: left;
    width: 960;
}

/*header working well aside some inline issues */
.header {
    background-color:#ffffff;
    height:50px;
    width:100%;
    color: white;
    vertical-align: middle;
    font-size: 20px;
    float:left;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;

}

header {
    background-color: #4daba6;
    height:100%;
    width:300px;
    margin-left: 100px;
    float:left;
    font-weight: bold;
    text-align: center;
}

nav {
    float:right;
}



a {
    color:#a2aeb9;
}

.main {
    float: left
}

h3 {
    color:#777777;
} 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #a2aeb9;
    text-align: center;
}